@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}
.nav-link:hover{
    border: 1px solid #ffc107 ;
    border-radius: 6PX;
    
}


/* Carousel Styles */
.carousel-inner {
    height: 85vh;
}

.carousel-item img {
    height: 85vh;
    object-fit: cover;
}

.carousel-caption {
    bottom: 25%;
    transform: translateY(50%);
}

.caption-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px 50px;
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
}

.caption-box h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.caption-box p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

/* Social Sidebar */
.social-sidebar {
    position: fixed;
    right: 0;
    top: 33%;
    transform: translate(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc107;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 1.8rem;
    border-radius: 6px;
    
}
.social-icon i{
   color: #ffffff;          
    background-color: transparent;   
    transition: opacity 0.3s;
}
.social-icon:hover {
    font-style: normal;
    
    opacity: 0.5;
}
